@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
  background-color: #172554;
  color: white;
  &:not(.disable):hover {
    background-color: #172554;
    color: white;
  }
} */
